.table{

  table-layout: fixed;
  border-collapse: collapse;
  border-radius: 80px;
  height: 100%;
  width: 100%;

  &__container{
    overflow-y: auto;
    width: 1000px;
    max-height: 40vh;;
    
  }

  &__first-column, &__1-column{
    width: 15%;
  }
  &__second-column, &__2-column{
    width: 15%;
  }
  &__third-column, &__3-column{
    width: 20%;
  }
  &__forth-column, &__4-column{
    width: 20%;
  }
  &__5-column{
    width: 30%;
  }

  &__header{
    background-color: var(--blue);


    & th {
      color: white;
      font-size: 1.4rem;
      font-weight: 400;
      text-align: left;
      padding: 1rem 0;

      &:first-child{
        border-radius:10px 0 0 0;
      }

      &:last-child{
        border-radius:0 10px 0 0 ;
      }
    }
  }
  &__body{

    & tr {
      background-color: white;
     line-height: 2.4rem;
     border-bottom: 1px solid #efeff9;

     &:hover{
       cursor: pointer;
       background-color: rgb(233, 232, 232);
     }

     &:last-child td:last-child {
       border-radius:0 0 10px 0 ;
     }

      &:last-child td:first-child {
       border-radius:0 0 0 10px;
     }
    }
    & td {
      color: var(--gray-text);
      font-size: 1.0rem;
    }
  }
}
